<svelte:head>
	<title>Cultris2 League</title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</svelte:head>

<script>
	import Nav from "./Nav.svelte";
	import Standings from "./Standings.svelte"
	import RecentMatches from "./RecentMatches.svelte"
	import Rules from "./Rules.svelte"
	import { Router, Route } from "svelte-routing"

</script>

<style>
</style>

<Router>
  <Nav />
  <div class="container">
    <Route path="/" component={Standings} />
		<Route path="/recentmatches" component={RecentMatches} />
		<Route path="/rules" component={Rules} />
  </div>
</Router>
