<script>
  export let name;
  export let division_id;

  let players = [];

  const getPlayers = () =>
    fetch(
      `https://cultrisleagueapibeta.herokuapp.com/get_scoreboard/${division_id}/10`
    )
      .then(response => response.json())
      .then(function(data) {
        // players = [...players, data];
        players = data;
        console.log(players);
      });

  getPlayers();
</script>

<style>
  .division_name {
    padding: 1rem;
  }
</style>

<div class="">
  <h1 class="text-center division_name">{name}</h1>

  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Player</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th>
        <th scope="col">W-L</th>
        <th scope="col">Score</th>
      </tr>
    </thead>

    <tbody>
      {#if players.length === 0}
        <th scope="row">No Players</th>
      {:else}
        {#each players as player, index}
        <tr>
          <th scope="row">{index +1}</th>
          <td>{player.name}</td>
          <td>{player.wins}</td>
          <td>{player.losses}</td>
          <td>{player.wins} - {player.losses}</td>
          <td>{player.score}</td>
        </tr>
        {/each}
      {/if}
    </tbody>
  </table>
</div>
