<script>
  import { Link } from "svelte-routing";
</script>

<style>
</style>

<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand d-none d-sm-block" href="/">Cultris League</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li id="nav-standings" class="nav-item">
      <Link to="/"><span class="nav-link">Standings</span></Link>

      </li>
      <li id="nav-recent" class="nav-item">
        <Link to="/recentmatches"><span class="nav-link">Recent Matches</span></Link>
      </li>
      <li id="nav-rules" class="nav-item">
        <Link to="/rules"><span class="nav-link">Information and Rules</span></Link>
      </li>
      <li id="nav-schedule" class="nav-item">
        <Link to="/schedule"><span class="nav-link">Schedule</span></Link>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/qYu8RZ4">Discord</a>
      </li>
    </ul>
  </div>
</nav>
