<script>
  let recentMatches = [];

  const getRecentMatches = () =>
    fetch(`https://cultrisleagueapibeta.herokuapp.com/get_recent_matches/10`)
      .then(response => response.json())
      .then(function(data) {
        recentMatches = data;
        console.log(recentMatches);
      });

  getRecentMatches();

  function fmtDate(date) {
    let rawdate = new Date(date);

    let fmtDate =
      rawdate.getDate() +
      "-" +
      (rawdate.getMonth() + 1) +
      "-" +
      rawdate.getFullYear() +
      " " +
      rawdate.getHours() +
      ":" +
      rawdate.getMinutes() +
      ":" +
      rawdate.getSeconds();

    return fmtDate;
  }
</script>

<style>
  h1 {
    padding: 1em;
  }
</style>

<h1 class="text-center">Recent Matches</h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Players</th>
      <th scope="col">Score</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
    {#if recentMatches.length === 0}
			<th scope="row">No Recent Matches</th>
    {:else}
      {#each recentMatches as match}
      <tr>
        <th scope="row">{match.winner_name}-{match.loser_name}</th>
        <td>{match.winner_score}-{match.loser_score}</td>
        <td>{fmtDate(match.date)}</td>
      </tr>
      {/each}
    {/if}
  </tbody>
</table>
