<style>

  h1 {
    padding: 1em;
  }

  h2 {
    padding: 1em;
  }
  h3 {
    padding: 1em;
  }
</style>

<h1 class="text-center">Information</h1>

<pre>
<a href="http://gewaltig.net/Forums/Thread.aspx?pageid=1&t=1042~1#post8297">Gewaltig Post</a>
<a href="http://harddrop.com/forums/index.php?showtopic=8297">Harddrop Post</a>
<a href="https://discord.gg/zV3cMFc">Discord Invite</a>

<u>Registration status</u>: <b>Open now until August 13, 11:59:59 EDT </b>
<u>Matches start</u>: <b>Matches start: Aug 14 or Aug 15</b>
Finalized divisions and schedules <b>COMING SOON</b>

<u>Please note</u>: Initial division rankings will be determined by a variety of factors; 
players may be asked to play placement matches if deemed necessary. 
Division sorting is highly dependent on how many signups we get.
DMing me your ffa/fortnight ranks will just help us in trying to make this first season as fair as possible. 
There will be more information to follow when we finish with signups. 
This is the first season and there will be some bumps in the road. So, please be patient with us.
</pre>


<h2 class="text-center">Registration and Score Reporting</h2>

<pre>
<u>Registration</u>
Step 1. In the Cultris 2 Discord #c2-league chat type:
	!reg [in game username] [peak rank OR rank on 49.6 μFortnight challenge]
	An example: !reg kb 8
	New players may want to play some matches or the fortnight challenge to get that rank up before registering

Step 2. Proof of rank [via screenshot] on Fortnight challenge or peak rank should be DMed to Synth#8018 on discord.

<u>Score Reporting</u>
In the #c2-league chat type:

	!scorereport [player1] [<span>&#62;</span> or <span>&#60;</span>] [player2] [score1] [-] [score2]
	An example: !scorereport kb <span>&#62;</span> balu 11-9, kb <span>&#60;</span> balu 11-7 
	All scores should be 11-x or x-11

It is highly recommended that both players take screenshots of each set to help settle possible conflict over misreporting.
</pre>



<h3 class="text-center">Rules and Regulations</h3>

<pre>
1. <u>Divisions</u>
As of now, there will be 6 divisions, subject to change. 
Players with the worst scores will be relegated to the division below them.
Players with the best scores will be promoted to the to the division above them.

	Division 1 - God-like Division (S Division)
	↓ 3 relegation

	Division 2 - Pro Division (A Division)
	↑ 3 promotion
	↓ 2 relegation

	Division 3 - Semi-Pro Division (B Division)
	↑ 2 promotion
	↓ 2 relegation

	Division 4 - Amateur Division (C Division)
	↑ 2 promotion
	↓ 3 relegation

	Division 5 - Rookie Division (D Division)
	↑ 3 promotion
	↓ 3 relegation

	Division 6 - Noob Division (E Division)
	↑ 3 promotion

2. <u>Duration</u>
The first season of the league will be shorter with an estimate of 1.5 months.
Later seasons may last up to 3 months as the league grows.

3. <u>Expectations</u>
Players will play no more than 2 matches a week unless a 3rd makeup match must be played.
A makeup match can be played up to 1 week after the original scheduling of the match.
 
4. <u>Matches</u>
A match consists of two sets, first player to 11 wins/rounds, win by 1. 
Matches will not be played win by two. 
A match of two sets will most likely not take longer than 30 minutes to play.  
 
5. <u>Scoring system</u>
	+ 2 pts for 11-0 set (shutout)
	+ 1.5 pts for a 7+ set differential (scores of 11-1, 11-2, 11,3, 11-4)
	+ 1 pt for any margin
	- 1 pt for any loss
 
6. <u>Default Time</u>
Will be at 12:00PM Sunday (EST/EDT). 
This is the time at which the next week of the season begins.
 
7. <u>Scheduling</u>
All matches will be scheduled before the season begins. 
Each player will play every other player in their division twice during the season.
For matches not played within 2 weeks, a forfeit will be awarded to the player by commissioner’s discretion.
To avoid a forfeit, players must a commissioner for help as quickly as possible in the event of a scheduling conflict.
 
8. <u>Forfeits</u>
More than two forfeits in a season will result in a full season ban from the league. 
The second ban will result in a yearlong ban. 
The third will result in a permanent ban subject to appeal.
 
9. <u>After a match</u>
Matches will be reported to the league bot by the loser of the match. If a match ends in a 1-1
tie, the loser of the second set will report the match.

10. <u>Questions or Concerns?</u>
Contact one of our admins on discord for help! 

<br>
</pre>
