<script>
	import Division from "./Division.svelte";

	let divisions = ["God-like (S)", "Pro (A)", "Semi-Pro (B)", "Amateur (C)", "Rookie (D)", "Noob (E)"];
</script>

<style>
</style>

<!-- Divisions -->
<div id="divisions">
	{#if divisions.length === 0}
		 <p>No Divisions</p>
	 {:else}
		 {#each divisions as division, index}
			 <Division name={divisions[index]} division_id={index +1}  />
		 {/each}
	{/if}
</div>
